html{
    font-family: "Open Sans" sans-serif;
    margin: 0;
}

h1{
    font-size: 2.5rem;
}

#main{
    margin-top: 2rem;
    background-color: #eee;
    
}

.intro,.two>#img-div,.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#img-div{
    margin: 1rem;
    padding: 2rem;
    background-color: white;
}

.three>ul,blockquote{
    margin: 0px 25rem;
    padding: 2rem 5rem;
    font-size: 1.1em;
    line-height: 2em;
}

blockquote{
    font-style: italic;
}

@media only screen and (max-width: 80rem){


    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 1rem;
    }

    #img-div{
        padding: 0rem 0.10rem;
        margin: 0.5rem;
    }

    #img-div>p{
        margin: 1rem;
    }

   img{
      width: 98%;
    
    }

    .three>ul,blockquote{
        margin: 0px 3rem;
        padding: 0rem 0rem;
        font-size: 1em;
        line-height: 1.5em;
    }

    h3{
        font-size: 1rem;
        padding: 0rem 2rem;
    }
}